@import "./app/static/styles/reset";
@import "./app/static/styles/variables";
@import "./app/static/styles/extends";

@font-face {
  font-family: "BebasNeue";
  src: url("./app/static/fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: lighter;
}

html {
  font-family: "BebasNeue", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #f3f1f2;
  padding: 0;
  margin: 0;
}
